<div class="textpic">
  <video width="100%" controls autoplay>
    <source src={{imageUrl}} type="video/mp4">
  </video>
  {{ title }}
</div>

<div class="textpic">
  <video width="100%" controls autoplay>
    <source src={{imageUrl2}} type="video/mp4">
  </video>
  {{ title }}
</div>

<div class="textpic">
  <a href={{urlSlug}}>
    <img src={{imageUrl3}} alt={{imageTitle}}/>
    {{ title }}
  </a>
</div>
